*{
  font-family: 'Helvetica neue', Tahoma, sans-serif, monospace;
}
.add-button {
  margin-left: 10px;
}


/* Modal Styles */
.modal {
  display: none;
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333;
}

.modal-close:hover {
  color: #000;
}

.action {
  /* width: 270px; */
  width: 100%;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch; /* Ensures equal height for flex items */
}

.card {
  width: 100%; /* Ensures the card takes up full width of its container */
  min-height: 100%; /* Ensures the card takes up full height of its container */
  display: flex;
  flex-direction: column;
  border: 1px solid #00d1b2;
}

.card-footer {
  margin-top: auto; /* Pushes the footer to the bottom of the card */
}

.card-footer-item {
  cursor: pointer;
}

.message-input {
  border: none; /* Remove all borders */
  border-bottom: 1px solid #00d1b2; /* Apply bottom border */
  outline: none !important; /* Remove default focus outline */
  box-shadow: none !important;
  font-family: monospace;
}

.message-icon:hover {
  color: #00d1b2;
}

.message-icon-cancel:hover {
  color: red;
}

.bio-text{
  line-height: 2;
  font-size: 14px;
}

.submit-button{
  border: none;
  outline: none !important;
  cursor: pointer;
  background-color: white;
}

a:visited {
  color: #4a4a4a;
}


aside {
  &.menu {
    background-color: aliceblue;
    padding: 1em;
    min-height: 50vh;
  }
}

.slim {
  height: 5px;
}

.fa-copy {
  border: 1px solid grey;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  cursor: pointer
}

.fa-copy::after {
  content: "copy";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.fa-copy:hover::after {
  opacity: 1;
}
